@use "../variables.css";

.cell {
  display: inline-block;

  padding: 0.5rem;
  margin: 0 0.1rem;

  border: 1px solid var(--black);
  border-radius: 2px;

  background-color: var(--white);
}

.icon {
  color: var(--grey-light);
  font-size: 1rem;
  margin: 0 0.1rem;
}

.checked {
  background-color: var(--secondary-color);
}

.checkedIcon {
  color: var(--primary-color-darker);
}

.hidden {
  display: none;
}
